<div class="w-73.5  rounded-2xl overflow-hidden  hover:shadow-md transition">
  <a class="block p-2 rounded bg-blue-100 text-blue-600 font-semibold" [routerLink]="['/details', slug]">

    <!-- 🖼 Image -->
    <div class="w-full h-60 overflow-hidden">
      <img [src]="image" [alt]="title" class="w-full h-full object-cover" />
    </div>

    <!-- 📄 Content -->
    <div class="p-4 space-y-2">

      <!-- Title -->
      <h3 class="font-medium text-[20px]">
        {{ title }}
      </h3>

      <!-- ⭐ Stars -->
      <div class="flex items-center gap-1 text-[18px]">
        <span *ngFor="let star of stars">★</span>
      </div>

      <!-- 💰 Price -->
      <p class="font-semibold text-[24px]">
        ${{ price }}
      </p>

    </div>
  </a>

</div>