<!-- Main Content -->
<div class="flex-1 p-6">

  <!-- Header -->
  <div class="flex justify-between items-center mb-6">

    <h3 class="text-2xl font-bold"><a routerLink="/dashboard/product" routerLinkActive="active-link">
        All Products
      </a></h3>
    <button class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
      <a routerLink="/dashboard/product/add" routerLinkActive="active-link">
        Add New Product
      </a>
    </button>
  </div>
</div>


<router-outlet></router-outlet>
